body{
    margin:0;
    width: auto;
    padding:0;
    left: 0;
    overflow-x: hidden;
}









/* SECTION 1 */


.container{
    margin: 0;
}
.nav{
    background-color:black ;
    float: left;
    padding: 30px;
    width: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: white;
    margin: 0;
}
.side-text{
    background-color: black;
    padding: 30px;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
    color: white;
}
.pic{
    padding:0px;
    margin: 0;
    background-color: black;
    top: 0;
    width: auto;
    
}















/* SECTION 2 */


.section2{
    margin:0;
    background-color: white;
    border-color:grey;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
}
.icon1{
    float: left;
    padding: 30px;
    margin-right: 10%;
}
.headline1{
    padding: 30px;
    font-size: 50px;
    margin-left: 75%;
    text-align: right;
}



.content1{
    padding: 3px;
    margin-left: 5%;
    height: 50%;
    margin: 5%;
}


                    
            /* Card */
            .card-container{
                display: grid; 
                grid-auto-columns: 1fr; 
                grid-template-columns: 1fr 1fr 1fr 1fr; 
                grid-template-rows: 0.2fr 1fr 1fr 0.2fr 1fr; 
                gap: 12px 0px; 
                height: 130%;
            }
            .flip-card{
                background-color: transparent;
                width: 300px;
                height: 300px;
                perspective: 1000px;
            }
            .flip-card-inner{
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.6s;
                transform-style: preserve-3d;
                box-shadow: 0 4px 0 rgba(0,0,0,0.2);
            }
            .flip-card:hover .flip-card-inner{
                transform: rotateY(180deg);
            }
            .flip-card-front, .flip-card-back{
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility : hidden;
                backface-visibility: hidden;
            }
            .flip-card-front{
                background-color: #bbb;
                color: black;
            }
            .flip-card-back{
                background-color: White;
                color: black;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                transform: rotateY(180deg);
            }




      .section-footer{
        margin: 0;
        align-items: center;
        border-style: solid;
        border-color:grey;
        border-width: 3px 0px 0px 0px;
      }
      .footer-text{
          margin:0;
          padding: 20px;
          margin-right: 60%;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 30px;    
      }













/* SECTION 3 */

.section3{
    margin: 0;
    background-color: black;
}
.icon2{
    float: right;
    padding: 30px;
    margin-left: 10%;
}
.headline2{
    padding: 30px;
    font-size: 50px;
    margin-right: 75%;
    text-align: left;
    color: white;
}


.content2{
    background-color: black;
    padding: 30px;
}
.ignorance{
    padding: 0px;   
    margin: 0;
}
.desc-ignorance{
    margin:0;
    color:white;
    margin-top: 15%;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;    
    text-align: center;
}
.number-ignorance{
    margin:0;
    color:white;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;    
    text-align: center;
}
.technomncr{
    margin:0;
    color:white;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;    
    text-align: center;
}














/* SECTION 4 */

.section4{
    margin:0;
    background-color: white;
    border-color:grey;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
}
.icon3{
    float: left;
    padding: 30px;
    margin-right: 10%;
}
.headline3{
    padding: 30px;
    font-size: 50px;
    margin-left: 75%;
    text-align: right;
}
.content3{
    padding: 0px;
}
.eye-logo{
    padding: 0px;   
    margin: 0;
}
.origin-title{
    margin:0;
    margin-top: 2%;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;    
    text-align: center;
}
.origin-desc{
    margin:0;
    padding: 10px;
    margin-left: 20% ;
    margin-right: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;    
    text-align: center;
}
.mortalsinner-japan{
    text-align: center;
}

.section-footer2{
    margin-top: 5%;
    align-items: center;
    border-style: solid;
    border-color:grey;
    border-width: 3px 0px 0px 0px;
  }
  .footer-text2{
      margin:0;
      padding: 20px;
      text-align: right;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 30px;    
  }











  
/* SECTION 5 */
.section5{
    margin: 0;
    background-color: black;
}
.icon4{
    float: right;
    padding: 30px;
    margin-left: 10%;
}
.headline4{
    padding: 30px;
    font-size: 50px;
    margin-right: 75%;
    text-align: left;
    color: white;
}
.content4{
    padding: 20px;
    background-color: black;
}
.email{
    padding: 0px;
    width: 60%;
    color: white;
    background-color: black;
    word-spacing: 250px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: solid;
    border-color: grey;
    border-width: 0px 0px 3px 0px;
}
.insta{
    padding: 0px;
    width: 60%;
    color: white;
    background-color: black;
    word-spacing: 250px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: solid;
    border-color: grey;
    border-width: 0px 0px 3px 0px;
}
.shop{
    padding: 0px;
    width: 60%;
    color: white;
    background-color: black;
    word-spacing: 250px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: solid;
    border-color: grey;
    border-width: 0px 0px 3px 0px;
}

.footer{
    padding: 50px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}


